<div class="about-us">
  <div class="container">
    <div class="about-us__inner">
      <div class="about-us__description">
        <h3 class="about-us__title">
          We understand how important it is to find the right auto service
        </h3>
        <p class="about-us__text">
          Car repairs and maintenance can be expensive and no one wants to have
          pay to repair damage caused by shoddy repair service. When you bring
          your car into our auto shop, you won’t have to worry because our staff
          is comprised of ASE certified technicians who are committed to making
          sure you have a safe dependable car.
        </p>
        <a href="#" class="about-us__more-link">More about us</a>
      </div>
      <picture>
        <source srcset="../img/about-service.webp" type="image/webp" />
        <img
          loading="lazy"
          src="../img/about-service.jpg."
          class="about-us__image"
          width="513"
          height="342"
          alt="about us"
        />
      </picture>
    </div>
  </div>
</div>
