<div class="get-in-touch">
  <div class="container">
    <div class="get-in-touch__inner">
      <ul class="get-in-touch__list list-reset">
        <li class="get-in-touch__item">
          <svg class="get-in-touch__icon">
            <use xlink:href="img/sprite.svg#call"></use>
          </svg>
          <a href="#">
            <h3 class="get-in-touch__title">Call us now 222-222-222</h3>
          </a>
          <p class="get-in-touch__description">Feel free to call us</p>
        </li>
        <li class="get-in-touch__item">
          <svg class="get-in-touch__icon">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <a href="#">
            <h3 class="get-in-touch__title">Get free appoitmet</h3>
          </a>
          <p class="get-in-touch__description">Free Diagnosis & Brake Checks</p>
        </li>
        <li class="get-in-touch__item">
          <svg class="get-in-touch__icon">
            <use xlink:href="img/sprite.svg#maps-and-flags"></use>
          </svg>
          <a href="#">
            <h3 class="get-in-touch__title">Find us on map</h3>
          </a>
          <p class="get-in-touch__description">New York, 1286 Ruumu Nanor</p>
        </li>
      </ul>
    </div>
  </div>
</div>
