<header class="header">
  <div class="container">
    <div class="header__inner">
      <picture>
        <source srcset="img/logo.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/logo.png"
          class="image"
          width="139"
          height="64"
          alt="Car service"
        />
      </picture>
      <div class="navigation">
        <nav class="nav" title="nav" data-menu>
          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a data-scroll href="#hero" class="nav__link nav__link--active"
                >Main</a
              >
            </li>
            <li class="nav__item">
              <a data-scroll href="#services" class="nav__link">Our services</a>
            </li>
            <li class="nav__item">
              <a data-scroll href="#about-us" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a data-scroll href="#contact-us" class="nav__link">Contacts</a>
            </li>
          </ul>
        </nav>
        <div class="language">
          <ul class="language__list list-reset">
            <li class="language__item">Ua</li>
            <li class="language__item language__item--active">En</li>
          </ul>
        </div>
      </div>
      <button class="burger-button btn-reset burger-button--isClosed">
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
        <span class="burger-button__line"></span>
      </button>
    </div>
  </div>
</header>
