<header class="header">
  <div class="container">
    <div class="header__inner">
      <picture>
        <source srcset="img/logo.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/logo.png"
          class="image"
          width="139"
          height="64"
          alt="Car service"
        />
      </picture>
      <nav class="nav" title="navigation">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--active">Main</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Our services</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
        </ul>
      </nav>
      <div class="language">
        <ul class="language__list list-reset">
          <li class="language__item">Ru</li>
          <li class="language__item language__item--active">En</li>
        </ul>
      </div>
    </div>
  </div>
</header>
