<div class="work-process">
  <div class="container">
    <div class="work-process__inner">
      <p class="work-process__slogan centered">Fast & Easy</p>
      <h2 class="work-process__title centered">Our work process</h2>
      <ul class="work-process__list list-reset">
        <li class="work-process__item process-card">
          <h3 class="process-card__title">1.Request your quote</h3>
          <p class="process-card__description">
            We will be there when you most need us
          </p>
        </li>
        <li class="work-process__item process-card">
          <h3 class="process-card__title">02. Bring your vehicle</h3>
          <p class="process-card__description">We are car guys at heart</p>
        </li>
        <li class="work-process__item process-card">
          <h3 class="process-card__title">03. Get it repaired</h3>
          <p class="process-card__description">
            High quality, low cost car servicing
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
